---
import BaseHead from '../components/BaseHead.astro'
import { SITE_DESCRIPTION, SITE_TITLE, INSTAGRAM_URL, LINKEDIN_URL, MAIL, PHONE } from '../consts'
import BaseLayout from '../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import About from '../assets/about.webp'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<BaseLayout>
		<main class="flex min-h-svh items-center justify-center px-2">
			<section
				class="flex flex-col items-center gap-6 rounded bg-cyan-950 px-8 py-4 shadow-2xl sm:flex-row"
			>
				<div class="flex flex-col gap-2">
					<h1 class="text-sunshade-500 text-4xl font-bold">Contattami</h1>
					<ul class="text-sunshade-50 space-y-1">
						<li>
							Instagram: <a
								class="hover:text-sunshade-400 underline decoration-wavy underline-offset-2"
								href={INSTAGRAM_URL}>sarinskovic</a
							>
						</li>
						<li>
							Linkedin: <a
								class="hover:text-sunshade-400 underline decoration-wavy underline-offset-2"
								href={LINKEDIN_URL}>Sara Stefanovic</a
							>
						</li>
						<li>Mail: {MAIL}</li>
						<li>Telefono: {PHONE}</li>
						<li>
							CV: <a
								class="hover:text-sunshade-400 underline decoration-wavy underline-offset-2"
								href={'/portfolio/cv.pdf'}
								target="_blank">link</a
							>
						</li>
					</ul>
				</div>
				<Image class="h-48 w-fit sm:h-96" src={About} alt={'about'} />
			</section>
		</main>
	</BaseLayout>
</html>
