---
import BaseHead from "../components/BaseHead.astro";
import {
  SITE_DESCRIPTION,
  SITE_TITLE,
  INSTAGRAM_URL,
  LINKEDIN_URL,
  MAIL,
  PHONE,
} from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import About from "../assets/about.webp";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <BaseLayout>
    <main class="min-h-svh flex justify-center items-center px-2">
      <section
        class="bg-cyan-950 shadow-2xl flex gap-6 py-4 px-8 rounded items-center flex-col sm:flex-row"
      >
        <div class="flex flex-col gap-2">
          <h1 class="text-4xl font-bold text-sunshade-500">Contattami</h1>
          <ul class="text-sunshade-50 space-y-1">
            <li>
              Instagram: <a
                class="decoration-wavy underline underline-offset-2 hover:text-sunshade-400"
                href={INSTAGRAM_URL}>sarinskovic</a
              >
            </li>
            <li>
              Linkedin: <a
                class="decoration-wavy underline underline-offset-2 hover:text-sunshade-400"
                href={LINKEDIN_URL}>Sara Stefanovic</a
              >
            </li>
            <li>Mail: {MAIL}</li>
            <li>Telefono: {PHONE}</li>
            <li>
              CV: <a
                class="decoration-wavy underline underline-offset-2 hover:text-sunshade-400"
                href={"/portfolio/cv.pdf"}
                target="_blank">link</a
              >
            </li>
          </ul>
        </div>
        <Image class="h-48 sm:h-96 w-fit" src={About} alt={"about"} />
      </section>
    </main>
  </BaseLayout>
</html>
