---
import { Image } from 'astro:assets'
import BaseHead from '../components/BaseHead.astro'
import CompanyBanner from '../components/CompanyBanner.astro'
import { COMPANY, INDEX_DESC, SITE_DESCRIPTION, SITE_TITLE } from '../consts'
import BaseLayout from '../layouts/BaseLayout.astro'

import Asset1 from '../assets/01.webp'
import Asset2 from '../assets/02.webp'
import Asset3 from '../assets/03.webp'
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<BaseLayout home>
		<Image src={Asset1} alt="" />
		<div
			class="border-y-4 border-y-black bg-persian-100 p-2 sm:rounded-xl sm:border-x-4 sm:border-x-black sm:shadow-left-bottom"
		>
			<div class="container relative text-4xl leading-relaxed tracking-widest sm:leading-loose">
				<section class="absolute z-10 font-bobbyJonesOutline text-black">
					{INDEX_DESC}
				</section>
				<section class="font-bobbyJones text-glaucous-700">
					{INDEX_DESC}
				</section>
			</div>
		</div>
		<Image src={Asset2} alt="" />
		<section class="mx-auto grid w-3/4 grid-cols-1 gap-8 sm:grid-cols-2">
			{
				COMPANY.map((c, index) => (
					<CompanyBanner
						title={c.title}
						index={index}
						logo={c.logo}
						description={c.description}
						path={c.path}
						rotation={c.rotation}
					/>
				))
			}
		</section>
		<Image src={Asset3} alt="" />
	</BaseLayout>
</html>
