---
const { title, index, logo, description, path } = Astro.props
---

<div
	class={`flex ${index % 2 === 0 ? 'flex-row' : 'flex-row-reverse'} font-bobbyJones tracking-wider gap-4 border-b-[1px] border-b-cyan-700 justify-between min-h-96 p-4 text-cyan-50`}
>
	<div class={`basis-1/2 flex justify-center flex-col gap-4 items-center`}>
		<div class="flex flex-col gap-4">
			<h1 class="max-w-96 text-2xl font-bold text-orange-400 sm:text-3xl">
				{title}
			</h1>
			<p class={`max-w-96 text-sm text-balance sm:text-lg`}>
				{description}
			</p>
			<a
				href={`/portfolio/company/${path}`}
				class="text-sunshade-300 text-xs underline decoration-wavy underline-offset-8 hover:decoration-solid sm:text-lg"
			>
				Scopri di più
			</a>
		</div>
	</div>
	<div class="flex basis-1/2 items-center justify-center object-contain">
		<img class="h-96 w-full" src={logo} alt={logo} />
	</div>
</div>
