---
import { Icon } from 'astro-icon/components'

const { title, logo, description, path, rotation } = Astro.props
---

<div
	class={`flex ${rotation} flex-col bg-viridian-600 font-bobbyJones tracking-wider z-10 gap-4 shadow-left-bottom hover:shadow-left-bottom-hover transition duration-500 rounded-xl border-4 border-black justify-between min-h-96 p-4 text-cyan-50 hover:border-white`}
>
	<div class={'basis-3/4 sm:basis-1/2 flex justify-center flex-col gap-4'}>
		<div class="flex flex-col gap-4">
			<h1 class="max-w-96 text-2xl font-bold text-orange-400 sm:text-3xl">
				{title}
			</h1>
			<p class={`text-sm text-pretty sm:max-w-[500px] sm:text-lg`}>
				{description}
			</p>
			<a
				href={`/articles/${path}`}
				class="text-xs text-orange-300 underline decoration-wavy underline-offset-8 hover:decoration-solid sm:text-lg"
			>
				Scopri di più
			</a>
		</div>
	</div>
	<div class="flex basis-1/4 items-center sm:basis-1/2">
		<!-- <img class="h-96 w-full" src={logo} alt={logo} /> -->
		<Icon name={logo} class="h-16 w-fit" />
	</div>
</div>
